.headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 100%;

}

.logoContainer{
  margin: 0;
  padding: 0;
  height: 100%;
  width: auto;
}

.logoContainer img{
  height: 100%;
  width: auto;
}

.titleContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgba(14, 14, 14, 0.85);
  color: white;
}
